@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    text-align: center;
    font-size: 70px;
    color: #45f3ff;
	-webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes focus-in-expand {
    0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
    }
    100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
    }
}
@keyframes focus-in-expand {
    0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
    }
    100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
    }
}
body 
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	flex-direction: column;
	/*background: #23242a;*/
	background: url(https://img.freepik.com/free-vector/composed-particles-swirling-abstract-graphics_456031-137.jpg?w=1380&t=st=1664385425~exp=1664386025~hmac=412ebef38f0422f3be11e0810604f4e48fde9b93527517aff87feebab669c25f);
}
.wrapper{
	display: flex;
	place-content: center;
	
  }
  .wrapper .static-txt{
	color: #fff;
	font-size: 60px;
	font-weight: 400;
  }
  .wrapper .dynamic-txts{
	margin-left: 15px;
	height: 90px;
	line-height: 90px;
	overflow: hidden;
  }
  .dynamic-txts li{
	list-style: none;
	color: #45f3ff;
	font-size: 60px;
	font-weight: 500;
	position: relative;
	top: 0;
	animation: slide 12s steps(4) infinite;
  }
  @keyframes slide {
	100%{
	  top: -360px;
	}
  }
  .dynamic-txts li span{
	position: relative;
	margin: 5px 0;
	line-height: 90px;
  }
  .dynamic-txts li span::after{
	content: "";
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	background: #23242a;
	border-left: 2px solid #45f3ff;
	animation: typing 3s steps(10) infinite;
  }
  @keyframes typing {
	40%, 60%{
	  left: calc(100% + 30px);
	}
	100%{
	  left: 0;
	}
  }
.box 
{
	position: relative;
	width: 380px;
	height: 420px;
	background: #1c1c1c;
	border-radius: 8px;
	overflow: hidden;
}
.box::before 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
	animation: animate 6s linear infinite;
}
.box::after 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}
@keyframes animate 
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}
.form 
{
	position: absolute;
	inset: 2px;
	background: #28292d;
	padding: 50px 40px;
	border-radius: 8px;
	z-index: 2;
	display: flex;
	flex-direction: column;
}
h2 
{
	color: #45f3ff;
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
}
.inputBox 
{
	position: relative;
	width: 300px;
	margin-top: 35px;
}
.inputBox input 
{
	position: relative;
	width: 100%;
	padding: 20px 10px 10px;
	background: transparent;
	outline: none;
	box-shadow: none;
	border: none;
	color: #23242a;
	font-size: 1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	z-index: 10;
}
.inputBox span 
{
	position: absolute;
	left: 0;
	padding: 20px 0px 10px;
	pointer-events: none;
	font-size: 1em;
	color: #8f8f8f;
	letter-spacing: 0.05em;
	transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span 
{
	color: #45f3ff;
	transform: translateX(0px) translateY(-34px);
	font-size: 0.75em;
}
.inputBox i 
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #45f3ff;
	border-radius: 4px;
	overflow: hidden;
	transition: 0.5s;
	pointer-events: none;
	z-index: 9;
}
.inputBox input:valid ~ i,
.inputBox input:focus ~ i 
{
	height: 44px;
}
.links 
{
	display: flex;
	justify-content: space-between;
}
.links a 
{
	margin: 10px 0;
	font-size: 0.75em;
	color: #8f8f8f;
	text-decoration: beige;
}
.links a:hover, 
.links a:nth-child(2)
{
	color: #45f3ff;
}
input[type="submit"]
{
	border: none;
	outline: none;
	padding: 11px 25px;
	background: #45f3ff;
	cursor: pointer;
	border-radius: 4px;
	font-weight: 600;
	width: 100px;
	margin-top: 10px;
}
input[type="submit"]:active 
{
	opacity: 0.8;
}